body{
    font-size: 16px;
    color: #222222;
    font-family: Oxygen;
    text-align: center;
}

/**Header**/

#header-nav{
    background-color: #797979;
    border-radius: 0;
    border: solid black 5px;
}

.navbar-brand{
    padding-top: 25px;
}

.navbar-brand h1{ /*Restaurant name*/
    color: #222222;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

.navbar-brand p{ /*Kosher cert*/
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}

#nav-list{
    margin-top: 10px;
}

#nav-list a{
    color: #222222;
    text-align: center;
    text-decoration: solid;
}

#nav-list a:hover{
    background: #E7E7E7;
}

#nav-list a span{
    font-size: 1.8em;
 }




 .navbar-header button.navbar-toggle, .navbar-header .icon-bar{
     border: 1px solid #61122f;
 }

 .navbar-header button.navbar-toggle{
     clear: both;
     margin-top: -30px;
 }

 /****END HEADER*****/




 /* ***********HOME PAGE*******************************************/
 
 #menu-title:hover, #specials-title:hover, #map-title:hover{
    box-shadow: 0 1px 5px 1px #CCCCCC;
 }

 #menu-title{
     background: url(../images/menu-tile.jpg) no-repeat;
     background-position: center;
 }


 /*****************END HOME PAGE*************************************/
 
 /* Menu categories page */

.category-tile:hover{
    box-shadow: 0 1px 5px 1px #CCCCCC;
}

#menu-categories-tittle + div{
    margin-bottom: 50px;
}

 /* END Menu categories page */


 /* SINGLE categories page */
.menu-item-tile{
    margin: auto;
    margin-bottom: 25px;
}

.menu-item-tile hr{
    width: 80%;
}

.menu-item-tile .menu-item-price{
    font-size: 1.1em;
    text-align: right;
    margin-top: -15px;
    margin-right: -15px;
}

.menu-item-tile .menu-item-price span{
    font-size: .6em;
}

.menu-item-photo{
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    padding: 0;
    margin-right: -15px;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 250px;
}

.menu-item-photo div{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    background-color: #557c3e;
    text-align: center;
}

.menu-item-description{
    background-color: #797979;
    padding-right: 30px;
}
h3.menu-item-title{
    margin: 0 0 10px;
}

.menu-item-details{
    font-size: .9em;
    font-style: italic;
}

 /* END Single categories page */

 /********** Large devices only *************/

 @media (min-width:1200px){
    .container .jumbotron{
         background: url(../images/jumbotron_1200.jpg)no-repeat;
         height: 675px;
     }
 }
 
 /* Medium devices only */

 @media (min-width:992px) and (max-width:1199px) {
    /* Header*/ 
    #logo-img{
         background: url(./restaurant-logo_medium.png) no-repeat;
         width: 100px;
         height: 100px;
         margin: 5px 5px 5px 0;
     }
     /* End header */
     .container .jumbotron{
        background: url(../images/jumbotron_992.jpg)no-repeat;
        height: 558px;
     }
 }

    
 /* Small devices only */

 @media (max-width:991px){
    .container .jumbotron{
        background: url(../images/jumbotron_768.jpg)no-repeat;
        height: 432px;    
    }    
  
 }